<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ _charset }}">
    <title>Portfolio No Partials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/portfolio.css?v=1">
    <script defer src="/assets/js/alpinejs-intersect@3.10.3.min.js"></script>
    <script defer src="/assets/js/alpinejs@3.10.3.min.js"></script>
    {{ head() }}
</head>
<body class="bg-white text-black">

{% block main %}

{% endblock %}

</body>
</html>