<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ _charset }}">
    <title>Jonah Juliao Toral | CraftCMS Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
    <script defer src="/assets/js/alpinejs-intersect@3.10.3.min.js"></script>
    <script defer src="/assets/js/alpinejs@3.10.3.min.js"></script>
    {{ head() }}
</head>
<body class="bg-white">
{{ beginBody() }}

<main>
    <div class="flex w-full h-max min-h-screen justify justify-center items-center">
        <div class="px-14 py-7 bg-white rounded-lg shadow text-center">
            <h1 class="text-black uppercase">Maintenance in progress</h1>
            <div class="max-w-sm text-gray-600">
                <p class="py-2">We are currently making some improvements behind the scenes. You will soon be able to continue your discovery of my Portfolio.</p>
            </div>

        </div>
    </div>

</main>

{{ endBody() }}
</body>
</html>